
<form method="post" action="{% url 'save_data' %}">
    {% csrf_token %}

    <div class="container d-flex align-items-center">
      <div class="btn-group" role="group" aria-label="Button group">
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" name="username">
          </div>
        </div>

        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle mx-1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Skills
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for field_name in top_10_fields %}
            <li>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="backend_tech" value="{{ field_name }}"
                  id="{{ field_name }}">
                <label class="form-check-label" for="{{ field_name }}">
                  {{ field_name }}
                </label>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="dropdown">

          <button type="button" class="btn btn-primary dropdown-toggle mx-1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Skills
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for field_name in last10_fields %}
            <li>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="backend_tech" value="{{ field_name }}"
                  id="{{ field_name }}">
                <label class="form-check-label" for="{{ field_name }}">
                  {{ field_name }}
                </label>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary mb-2 mx-1">Submit</button>
    </div>
  </form>
